<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a class='bx's href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><i class='bx bxl-gmail'></i></a></li>
        <li><a href ="https://github.com/Akash-Modi104" target="_blank"><i class='bx bxl-github'></i></a></li>
    <li><a href ="https://www.linkedin.com/in/akash-modi-77406017b/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile :- 9608868862</li>
        <li><a href ="https://www.linkedin.com/in/akash-modi-77406017b/" target="_blank">Email :- developer.akash104@gmail.com </a></li>
    </ul>
</div>
<br><br><br>